data/trimabilities/functions/spells/frankenstein/.vs/frankenstein/v17/.wsuo
data/trimabilities/functions/spells/frankenstein/.vs/frankenstein/v17/DocumentLayout.json
data/trimabilities/functions/spells/frankenstein/.vs/slnx.sqlite
data/trimabilities/functions/spells/frankenstein/.vs/VSWorkspaceState.json
